@import "elementoscomuns/elementoscomuns.scss";
@import "paginas/home.scss";
@import "paginas/falcon.scss";
@import "paginas/space.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*{
  margin: 0px;
  padding:0px;

}
body{
  background-color:black;

}