.container00{


  
&.container05{
  background-image: url('../imagens/falcon9/01.jpg');


  .titulofalcon9{
    background-color: rgba(0, 0, 0, 0.281);
    text-align:center;
    margin: auto;
    margin-top: 120px;
   width: 600px;
   padding-bottom: 5px;
   border-radius: 10px;
.subtitulofalcon{
  font-size: 20px;
}
.titulofalcon{
  font-size: 100px;
  font-weight: 500;
}

  }


}

&.container06{
  background-image: url(../../imagens/falcon9/02.jpg);

  .texto-container06{
    
    padding-top: 150px;
    font-size: 23px;
   
  .p-container06{
    width: 650px;
     line-height: 2em;
  }
  }
}
.texto-carrosel{
  width: 600px;
  align-items: left;
  padding-top: 250px;
  margin: auto;
  margin-left: 130px;
}
.sublinhado{
  border-bottom: 1px solid white;
}

&.container07{
 
  .texto-carrosel{
    width: 600px;
    align-items: left;
    padding-top: 250px;
    margin: auto;
    margin-left: 130px;
  }
  .carousel-item{
    height: 100vh;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .p1 {
    font-size: 16px;
    margin-bottom: 0px;
    text-align: right;
  }

    &.f9-visao-geral{
      background-image: url(../../imagens/falcon9/03.jpg);
        }
        &.f9-primeiro-estagio{
      background-image: url(../../imagens/falcon9/04.jpg);
        }
        &.f9-segundo-estagio{
      background-image: url(../../imagens/falcon9/05.jpg);
        }
        &.f9-interestadual{
          background-image: url("../../imagens/falcon9/06.jpg");
        }
        &.f9-carga-util{
        background-image: url(../../imagens/falcon9/07.jpg);  
        }
  }
  
}
&.container08{
  background-image: url(../../imagens/falcon9/08.jpg);
}
&.container09{
 padding: 0px 0px;

 img{
  height: 100vh;
  
  
 }

 p {
  background-color: rgba(0, 0, 0, 0.753);
  border-radius: 10px;
 
}
}
}
.numeros{
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  
  .nmr-card{
    font-size: 70px;
  }
  .text-card{
    font-size: 20px;
  }
}